$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.navbar-default .navbar-nav > li > a
{
  color: #2EF08B;
  font-size: 25px;
}
.nav > li > a
{
  color: #000;
  padding: 15px 0px;
}
.nav > li > a:hover, .nav > li > a:focus
{
    color: #2EF08B;
    background-color: #fff;
}
.btn-primary
{
  color: #999;
  background: #202422;
  border:none;
}
.top-nav
{
  background: #202422;

}

.btn-primary:hover,
.btn-primary:focus
{
    background-color: transparent;
    border:none;
}
